.playerName {
  width: 150px;
  vertical-align: middle;
  text-align: left;
}

.playerScore {
  text-align: center;
}

tr.modalNum {
  height: 60px;
  vertical-align: middle;
}

.modalData {
  width: 15px;
  text-align: center;
  font-size: 30px;
}

.modalDataLarge {
  width: 100px;
  text-align: center;
  font-size: 30px;
}


