.teamName {
  width: 150px;
  vertical-align: middle;
  text-align: left;
}

td {
  text-align: center;
  vertical-align: middle;
}

.centerText {
  font-size: 30px;

}

.styleWell {
  text-align: center;
  height: 80px;
}